* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: $default;
	font-weight: $font-regular;
	font-size: 1.6rem;
	line-height: 2.7rem;
}
a {
	transition: all 300ms ease-in-out;
	&:hover, &:focus {
		text-decoration: none;
		outline: 0px;
	}
	
}
h1, h2, h3, h4, h5, h6 {
	font-weight: $font-bold;
}

img {
	display: block;
	width: 100%;
	height: auto;	
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
figure {
	margin: 0;
}
section {
	display: block;
	position: relative;
	padding: 5rem 0;
	width: 100%;
}
input,
button {
	&:focus {
		outline: none;
	}
}