.modalHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
}
.closeButton {
    padding: 10px;
}

.title {
  font-size: 25px;
  padding: 15px
}
.onBack {
  font-size: 25px;
  padding: 15px;
  cursor: pointer;
}

